.git
.gitignore
.dockerignore
docker-compose*.yml
Dockerfile
node_modules
vendor
storage/*
!storage/framework/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.idea
*.log